<div>
  <table class="w-full mat-elevation-z5" mat-table [dataSource]="departments">

    <!-- Name Column -->
    <ng-container matColumnDef="nameFurigana">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let dept"> {{dept.nameFurigana}} </td>
    </ng-container>

    <!-- Name Kanji Column -->
    <ng-container matColumnDef="nameKanji">
      <th mat-header-cell *matHeaderCellDef>Name Kana</th>
      <td mat-cell *matCellDef="let dept"> {{dept.nameKanji}} </td>
    </ng-container>

    <!-- Extension Number Column -->
    <ng-container matColumnDef="extensionNumber">
      <th mat-header-cell *matHeaderCellDef>Ext No</th>
      <td mat-cell *matCellDef="let dept"> {{dept.extensionNumber}} </td>
    </ng-container>

    <!-- Edit Button Column -->
    <ng-container matColumnDef="editButton">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let dept">
        <button mat-mini-fab color="accent" aria-label="Edit button" (click)="update(dept.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let dept">
        <button mat-mini-fab color="warn" aria-label="Delete button" (click)="delete(dept.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>

<div>
  <button mat-mini-fab color="accent" aria-label="Add button" (click)="setShowCreateForm(true)">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div *ngIf="showCreateForm">
  <form [formGroup]="newDepartmentForm" (ngSubmit)="onCreate()" 
        class="flex flex-col">
    <mat-form-field appearance="outline">
      <mat-label for="nameFurigana">Name</mat-label>
      <input matInput type="text" name="nameFurigana" id="nameFurigana" formControlName="nameFurigana" required>
      <div *ngIf="newDepartment.nameFurigana.invalid && (newDepartment.nameFurigana.dirty || newDepartment.nameFurigana.touched)"
        class="alert alert-danger">
        <div *ngIf="newDepartment.nameFurigana.errors?.required">
          This field is required.
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="nameKanji">Name Kana: </mat-label>
      <input matInput type="text" name="nameKanji" id="nameKanji" formControlName="nameKanji" required>
      <div *ngIf="newDepartment.nameKanji.invalid && (newDepartment.nameKanji.dirty || newDepartment.nameKanji.touched)"
        class="alert alert-danger">
        <div *ngIf="newDepartment.nameKanji.errors?.required">
          This field is required.
        </div>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label for="extensionNumber">Extension Number: </mat-label>
      <input matInput type="number" name="extensionNumber" id="extensionNumber" formControlName="extensionNumber" required>
      <div *ngIf="newDepartment.extensionNumber.invalid && (newDepartment.extensionNumber.dirty || newDepartment.extensionNumber.touched)"
        class="alert alert-danger">
        <div *ngIf="newDepartment.extensionNumber.errors?.required">
          This field is required.
        </div>
      </div>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="!newDepartmentForm.valid">
      Create
    </button>
  </form>
</div>

<div *ngIf="showUpdateForm">
  <form [formGroup]="updatedDepartment" (ngSubmit)="onUpdate()"
        class="flex flex-col">
    <mat-form-field>
      <mat-label for="nameFurigana">Name: </mat-label>
      <input matInput type="text" name="nameFurigana" id="nameFurigana" formControlName="nameFurigana">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="nameKanji">Name Kana: </mat-label>
      <input matInput type="text" name="nameKanji" id="nameKanji" formControlName="nameKanji">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="extensionNumber">Extension Number: </mat-label>
      <input matInput type="number" name="extensionNumber" id="extensionNumber" formControlName="extensionNumber">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Update</button>
  </form>
</div>