<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Page</title>
    <!--Bootstrap CSS-->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="p-3">
    <h1>Employee Page</h1>

    <div>
        <form method="post" th:action="@{/employee/search}" th:object="${searchForm}">
            <input type="text" th:field="*{searchQuery}">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="container">
        <div class="row align-items-center border border-primary rounded">
            <div class="col-sm">Name Kana</div>
            <div class="col-sm">Name</div>
            <div class="col-sm">Email</div>
            <div class="col-sm">Joining date</div>
            <div class="col-sm">Dept Name</div>
            <div class="col-sm">Update</div>
            <div class="col-sm">Delete</div>
        </div>

        <div class="row align-items-center border border-primary rounded" th:each="emp : ${emps}">
            <div class="col-sm"
                 th:text="${emp.nameFurigana}">
            </div>
            <div class="col-sm"
                 th:text="${emp.nameKanji}">
            </div>
            <div class="col-sm"
                 th:text="${emp.email}">
            </div>
            <div class="col-sm"
                 th:text="${#dates.format(emp.joiningDate, 'dd/MM/yyyy')}">
            </div>
            <div class="col-sm"
                 th:text="${emp.deptNameFurigana}">
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-primary">
                    <a th:href="@{/updateemp/{id}(id = ${emp.id})}"
                       class="badge badge-primary">
                        <span>Update</span>
                    </a>
                </button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-danger">
                    <a
                       data-bs-toggle="modal"
                       th:attr="data-bs-target='#deleteEmployeeModal' + ${emp.id}"
                       class="badge badge-danger">
                        <span>Delete</span>
                    </a>
                </button>
            </div>

            <!-- Delete Modal HTML -->
            <div th:id="'deleteEmployeeModal' + ${emp.id}" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form>
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Employee</h4>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete these Records?</p>
                                <p class="text-warning"><small>This action cannot be undone.</small></p>
                            </div>
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancel">
                                <a class="btn btn-danger"
                                       th:href="@{/employee/delete/{id}(id = ${emp.id})}">
                                    Delete
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div>
        <button>
            <a href="/create">Create</a>
        </button>
    </div>

    <a href="/">
        👈 Go back to home
    </a>

</div>

</body>
</html>