<div class="flex justify-end py-2">
  <button *ngIf="!showCreateForm" mat-flat-button color="primary" aria-label="Add button" (click)="setShowCreateForm(true)">
    Add 
  </button>
  <button *ngIf="showCreateForm" mat-icon-button color="primary" aria-label="Add button" (click)="setShowCreateForm(false)">
    <mat-icon>close</mat-icon> 
  </button>
</div>

<div *ngIf="showCreateForm" class="py-2">
  <form [formGroup]="newEntityForm" (ngSubmit)="onCreate()" 
        class="flex flex-col">

    
    <mat-form-field *ngFor="let attribute of attributes" appearance="outline">
      <mat-label for="attribute.name">{{attribute.displayName}}</mat-label>

      
      <input *ngIf="attribute.formField === 'input'" 
              matInput type={{attribute.type}} name={{attribute.name}} id={{attribute.name}} 
              formControlName={{attribute.name}} required>

      <mat-select *ngIf="attribute.formField === 'select'" 
                  id={{attribute.name}} formControlName={{attribute.name}} required>
        <mat-option *ngFor="let option of attribute.options" [value]="option.value"> {{option.name}} </mat-option>
      </mat-select>

      <div *ngIf="newEntityForm.get(attribute.name)?.invalid && (newEntityForm.get(attribute.name)?.dirty || newEntityForm.get(attribute.name)?.touched)"
        class="alert alert-danger">
        <div *ngIf="newEntityForm.get(attribute.name)?.errors?.required">
          This field is required.
        </div>
      </div>
    </mat-form-field>


    <button mat-flat-button color="primary" type="submit" [disabled]="!newEntityForm.valid">
      Create
    </button>
  </form>
</div>

<div *ngIf="showUpdateForm" class="py-2">
  <form [formGroup]="updatedEntityForm" (ngSubmit)="onUpdate()"
        class="flex flex-col">

    <mat-form-field *ngFor="let attribute of attributes">
      <mat-label for="attribute.name">{{attribute.displayName}}</mat-label>
      
      <input *ngIf="attribute.formField === 'input'" 
              matInput type={{attribute.type}} name={{attribute.name}} id={{attribute.name}} 
              formControlName={{attribute.name}} required>

      <mat-select *ngIf="attribute.formField === 'select'" 
                  id={{attribute.name}} formControlName={{attribute.name}} required>
        <mat-option *ngFor="let option of attribute.options" [value]="option.value"> {{option.name}} </mat-option>
      </mat-select>

      <div *ngIf="updatedEntityForm.get(attribute.name)?.invalid && (updatedEntityForm.get(attribute.name)?.dirty || updatedEntityForm.get(attribute.name)?.touched)"
        class="alert alert-danger">
        <div *ngIf="updatedEntityForm.get(attribute.name)?.errors?.required">
          This field is required.
        </div>
      </div>

    </mat-form-field>
   
    <button mat-flat-button color="primary" type="submit" [disabled]="!updatedEntityForm.valid">Update</button>
  </form>
</div>

<div *ngFor="let attribute of attributes">
  <div *ngFor="let pipe of attribute.pipes">
    <p>{{pipe}}</p>
  </div>
</div>

<div>
  <table class="w-full mat-elevation-z1" mat-table [dataSource]="tableData">

    <!-- Attribute Column -->
    <ng-container *ngFor="let attribute of attributes" matColumnDef={{attribute.name}}>
      <th mat-header-cell *matHeaderCellDef>{{attribute.displayName}}</th>
      <td mat-cell *matCellDef="let entity"> {{entity[attribute.name]}} </td>
      <!-- <td mat-cell *matCellDef="let entity"> {{attribute.name.split('.')}} </td> -->
    </ng-container>

    <!-- Edit Button Column -->
    <ng-container matColumnDef="editButton">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let dept">
        <button mat-mini-fab color="accent" aria-label="Edit button" (click)="update(dept.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Button Column -->
    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let dept">
        <button mat-mini-fab color="warn" aria-label="Delete button" (click)="delete(dept.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
